body {
    background-image:url('../img/bg.png');
    background-repeat:repeat;
}
p {
    margin: 0 0 20px;
}
.navbar {
    background-image:url('../img/bg.png');
    background-repeat:repeat;
}
.jumbotron {
    background-color: transparent;
    padding: 70px 0 0 0;
}
.footer {
    margin-top: 40px;
    padding: 40px 0;
}
.event {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 30px;
}
.event + .event {
    padding-top: 30px;
}
.event .date {
    margin-bottom: 7px;
    color: #2a6496;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.footer {
    background: #061D25;
    padding-top: 10px;
	padding-bottom: 0px;
}

.footer a {
    color: #F9F7F7;
    font-size: 20px;
    padding-top: 10px;
	padding-bottom: 0px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.category {
  font: normal 12px/1 "Oswald", Helvetica, sans-serif;
  color: #f9200c;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  padding-top: 5px;
}
.subcategory {
	font: normal 10px/0 "Oswald", Helvetica, sans-serif;
	color: #210d0b;
	letter-spacing: 1px;
	padding-left: 10px;
}
.category2 {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  font-size:10px;
  color: #C99C9D;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  margin-top: 0;
}
.faq-category {
  font: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
  font-size:13px;
  color: #F83639;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  padding-top: 5px;
  padding-bottom:5px;
}
.about-title {
  font: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
  font-size:20px;
  font-weight:bold;
  color: black;
  text-align: left;
  text-transform:uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}
.bold-text{
  font: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
  font-size:15px;
  font-weight:bold;
  color: #6C4041;
  text-align: left;
}
.descriptor {
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
  font-size:14px;
  color: #D37D7F;
  text-align: left;
  font-style:italic !important;
  padding-bottom: 5px;
}
.classWithPad {
	padding-left:15px;
	margin-left:15px;
}
